{% extends 'base.html.twig' %}
{% block title %}Server Error{% endblock %}
{% block body %}
    <div id="error">
        <div class="error">
            <div class="error-code">
                <h3>Oops! We have some error here!</h3>
                <h1><span>5</span><span>0</span><span>0</span></h1>
            </div>
            <h2>we are already working on a fix!</h2>
            <h3><a href="{{ path('app.default') }}">homepage</a></h3>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/error.css') }}" />

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% endblock %}